<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}The Arc{% endblock %}</title>

    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
         {#<link rel="stylesheet" href="{{ asset('bundles/ArcBundle/Ressources/public/styles.css') }}"/>#}

        <!--Appel CSS Font Awesome-->
        {#<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">#}
        <!-- Appel CSS personnalisé -->
        {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/trmain/stylesheets/main.css') }}"/>#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('') }}" />
</head>
<body>
{#{% block body %}{% endblock %}#}
{#{% block javascripts %}#}
    {#<script src="{{ asset('bundles/trmain/javascripts/jquery.js') }}"></script>#}
    {#<!-- Latest compiled and minified JavaScript -->#}
    {#<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
    {#<script src="{{ asset('bundles/trmain/javascripts/typeahead.js') }}"></script>#}
    {#<script src="{{ asset('bundles/trmain/javascripts/teachreo.js') }}"></script>#}

{#{% endblock %}#}

